.balance{
    text-align: center;
    font-size: 70px
}
.wallet{
    width: 100px;
    height: 100px;
}
.first-half{
    padding-top: 15%;
    padding-bottom: 15%
}
.second-half{
    padding-top: 10%
}